<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Registro de nuevo usuario</h1>

    <form action="/validar" method="post"> 

        D.N.I:
        <input type="number" name="dni" id="dni"><br><br>

        Nombres:
        <input type="text" name="nombre" id="nombre"><br><br>

        Apellido:
        <input type="text" name="apellido" id="apellido"><br><br>

        Correo:
        <input type="email" name="correo" id="correo"><br><br>

        Contraseña:
        <input type="password" name="password" id="password"><br><br>

        <input type="submit" value="Registrar">

    </form>

    
</body>
</html>