<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/CSS/login.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Registro</title>
</head>
<body class="body-login">
    <div class="container-form register">
        <div class="information">
            <div class="info-childs">
                <h2>Bienvenidos</h2>
                <p>Para unirte a nuestra comunida ingresa tus datos</p>
                <input type="button" value="Iniciar sesion" id="sign-in">
            </div>
            </div>
        <div class="form-information">
            <div class="form-information-childs">
                <h2>Crear una cuenta</h2>
                <form class="form" action="/crear-usuario" method="post">
                    <label>
                        <i class='bx bxs-id-card'></i>
                        <input type="number" placeholder="DNI" name="dni" required>
                    </label>
                    <label>
                        <i class='bx bx-user'></i>
                        <input type="text" placeholder="Nombre" name="nombre" required>
                    </label>
                    <label>
                        <i class='bx bx-user'></i>
                        <input type="text" placeholder="Apellido" name="apellido" required>
                    </label>
                    <label>
                        <i class='bx bxl-gmail'></i>
                        <input type="email" placeholder="Correo" name="correo" required>
                    </label>
                    <label>
                        <i class='bx bxs-key'></i>
                        <input type="password" placeholder="Contraseña" name="password">
                    </label>
                    <% if(mensajeError) { %>
                    <p id="error"><%= mensajeError %></p>
                    <% } %>
                    <% if(mensajeSuccess) { %>
                        <p id="success"><%= mensajeSuccess %></p>
                    <% } %>

                        <input type="submit" value="Registrarse">
                </form>
            </div>
        </div>
        
    </div>
    
    
    <div class="container-form login hide">
        <div class="information">
            <div class="info-childs">
                <h2>¡Bienvenidos nuevamente!</h2>
                <p>Para unirte a nuestra comunida ingresa tus datos</p>
                <input type="button" value="Registrarse" id="sign-up">
            </div>
        </div>
        <div class="form-information">
            <div class="form-information-childs">
                <h2>Iniciar sesion</h2>
                <form class="form" action="/iniciar-sesion" method="post">
                    <label>
                        <i class='bx bxs-id-card'></i>
                        <input type="number" placeholder="DNI" name="dni">
                    </label>
                    <label>
                        <i class='bx bxs-key'></i>
                        <input type="password" placeholder="Contraseña" name="password">
                    </label>
                        <input type="submit" value="Iniciar sesion">
                </form>
            </div>
        
        </div>
    </div>

    <script src="/js/script.js"></script>
</body>
</html>